<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ContentLayout</title>
</head>
<body>
    <div class="row-fluid">
        <div class="span12" id="navigation">
            @Html.Partial("_Theme")
            <h3 class="page-title">
                <span>标题</span>　<small>介绍</small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <span>首页</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <span>菜单组</span>
                    <i class="icon-angle-right"></i>
                </li>
                <li><span>菜单</span></li>
            </ul>
        </div>
    </div>
</body>
</html>
