<div class="navbar-inner">
    <div class="container-fluid">
        <a href="index" class="brand"><span class="second" style="color:#fff">边民互市贸易信息平台</span></a>

        
        <ul class="nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            @*<li class="dropdown" id="header_notification_bar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-warning-sign"></i>
                    <span class="badge">6</span>
                </a>
            </li>*@
            @*<li class="dropdown" id="header_inbox_bar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-envelope-alt"></i>
                    <span class="badge">5</span>
                </a>
            </li>*@
            @*<li class="dropdown" id="header_task_bar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-tasks"></i>
                    <span class="badge">5</span>
                </a>
            </li>*@
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" src="@Url.StaticFile("/content/images/avatar.gif")" style="height:29px;" />
                    <span class="username">Administrator</span>
                    <i class="icon-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;"><i class="icon-user"></i> 我的信息</a></li>
                    <li><a href="javascript:;" class="thickbox" title="修改密码"><i class="icon-key"></i> 修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;"><i class="icon-signout"></i> 退出系统</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>