<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
            </ul>
            <a class="brand" ><span class="second">边民互市贸易管理</span></a>
        </div>
    </div>